@page "/"

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <div class="jumbotron">
                <div class="welcome-text">
                    <h1 class="display-4">Welcome to the HBCU 20x20 Tour Stop at Morgan State</h1>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider" />
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <p>Here's How This Works</p>
                <ol>
                    <li class="mb-2">Scan the QR Code or Text "Hi" to (410) 469-1475</li>
                    <li class="mb-2">Answer the question to Enter the raffle</li>
                    <li class="mb-2">Check Your Phone to See if You've Won</li>
                </ol>
            </div>
        </div>
        <div class="col">
            <img class="qr-code rounded float-right"
                 src="images/qrcode.png" />
        </div>
    </div>
</div>