@page "/"

<div class="container-fluid">
    <div class="jumbotron">
        <div class="welcome-text">
            <p class="h2">HBCU 20x20 Tour Stop at Morgan State Raffle</p>
            <hr class="my-4 mb-2" />
            <div class="row">
                <div class="col-7">
                    <h1>Here's How This Works</h1>
                    <ol>
                        <li class="lead mb-2">Scan the QR Code or Text "Hi" to <strong>(410) 469-1475</strong></li>
                        <li class="lead mb-2">Answer the question to Enter the raffle</li>
                        <li class="lead mb-2">Check Your Phone to See if You've Won</li>
                    </ol>
                </div>
                <div class="col">
                    <img class="img-fluid rounded" src="images/qrcode.png" />
                </div>
            </div>
        </div>
    </div>
</div>