@inherits raffler.Components.MasterControlsComponent

<div class="controls">
    <button type="button" class="btn" @onclick="@StartRaffle">Start Raffle</button>
    <button type="button" class="btn" @onclick="@StopRaffle">Stop Raffle</button>
    <button type="button" class="btn" @onclick="@SelectRaffleWinner">Select Winner</button>
</div>
